@use '@styles/mixins' as *;

.container {
  font-size: 1.2rem;
  color: var(--main-color-white);
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0 0 1.5rem 2rem;

  .text {
    position: relative;
    display: inline;

    @include underline-effect()
  }
}