.container{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 4.4rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.container_visible{
  display: block;
}

.content_container{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--main-color-dark);
  padding: 0 0 22rem 5rem;
}

.content_container_visible{
  width: 33rem;
}
