.container {
  font-family: Arial, sans-serif;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding-top: 4.4rem;
  background: var(--main-color-dark);
  width: 10.5rem;
  height: 100%;
  overflow: hidden;
  transition: width 0.2s ease-in;

  @media(max-width: 980px) {
    display: none;
    width: 0;
    right: 0;
  }
}
