.container {
  width: 95%;
  padding: 20px 10px 20px 10px;
  background: white;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: Arial, sans-serif;
  margin: 5px 0 20px 0;
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--main-color-dark);
}

.body {
  font-family: Arial, sans-serif;
  color: var(--main-color-dark);
  font-size: 1rem;
}

