.container {
  margin-top: 4.4rem;
  padding: 1.2rem 1rem 0 11.6rem;
  min-height: 600px;
  width: 100%;
  background-color: var(--main-color-light);
}

.title {
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-left: 20px;
  color: var(--main-color-dark);
}
