@use '@styles/mixins' as *;

.container {
  @include page_content_container
}

.content_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 1.7rem;
  font-weight: bold;
}
