@use '@styles/mixins' as *;

.container {
  @include page_content_container
}

.title_main {
  font-weight: bold;
  font-size: 1.6rem;
}

.title_secondary {
  font-weight: bold;
  font-size: 1.4rem;
}

.text_body {
  font-size: 1.2rem;
  margin: 0.8rem 0 2rem 0;
  max-width: 60rem;
}

.text_final_remark {
  font-size: 1.2rem;
  margin: 0.8rem 0 0.8rem 0;
  max-width: 60rem;
}

.point_list {
  margin-top: 1rem;

  & li {
    margin-top: 0.8rem;
  }
}
